* {
  padding: 0;
  margin: 0;
}
body{
  height: 100%;
}
header {
  list-style: none;
}
.main{
position: relative;
left: 0;
top: 0;
height: 100%;
margin: 0;
}
.main div{
position: fixed;
width: 300px;
float: left;
height: 100%;
}
.main li{
  transition: all .3s;
}
.main li:hover{
  background-color: rgb(88, 88, 88);
}
.main li .nav-link{
  padding: 8px;
  font-size: 1.03rem;
  font-weight: bold;
  color: white;
}

.navbar-toggler{
  transition:right 0.2s ease,left 0.2s ease;
}
.content{
  position: relative;
  height: 10000px;
  left: 300px;
}