* {
  padding: 0;
  margin: 0;
}
header{
  position: fixed;
  width: 100%;
  list-style: none;
  top: 0;
  z-index: 1;
}
header nav{
  height: 4rem;
  flex-flow: row nowrap;
}
.row {
  --bs-gutter-x: 0;
}
header .navbar-brand{
  font-size: 14px;
  text-transform: uppercase;
}
header .row .navbar-brand{
  font-size: 14px;
  text-transform: uppercase;
}
.main{
  position: fixed;
  z-index: 1;
  left: -300px;
  top: 4rem;
  height: 100%;
  margin: 0;
  width: 300px;
  padding: 30px;
  background-color: rgb(46, 46, 46);
  transition: all 1s;
}

.main a{
  display: block;
  text-decoration: none;
  padding: 8px;
  font-size: 1.0rem;
  font-weight: bold;
  color: white;
  transition: all .3s;
}
.main a:hover{
  background-color: rgb(88, 88, 88);
}

#page{
  position: relative;
  top: 56px;
  padding: 0;
  margin-left: 0px;
  margin-right: 0;
  height: 1000px;
  transition: all 1s;
}
